<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{960,320},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1280,320},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1600,320},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{0,640},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{320,640},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{640,640},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{960,640},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1280,640},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1600,640},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{0,960},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{320,0},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{320,960},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{640,960},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{960,960},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1280,960},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1600,960},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{0,1280},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{320,1280},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{640,1280},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{960,1280},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{640,0},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{960,0},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1280,0},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1600,0},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{0,320},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{320,320},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{640,320},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tile.png</string>
            <key>size</key>
            <string>{1920,1600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f8d7df5eab2b4053f289dd952a4fa3:1f87f39e9554c700cc6ed562499e4da1:a3dc05273f13e152d9d672105aa4a137$</string>
            <key>textureFileName</key>
            <string>tile.png</string>
        </dict>
    </dict>
</plist>
