<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctrl (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,277}</string>
                <key>spriteSourceSize</key>
                <string>{320,277}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ctrl (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,260}</string>
                <key>spriteSourceSize</key>
                <string>{200,260}</string>
                <key>textureRect</key>
                <string>{{600,554},{200,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ctrl (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,277}</string>
                <key>spriteSourceSize</key>
                <string>{320,277}</string>
                <key>textureRect</key>
                <string>{{320,0},{320,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ctrl (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,277}</string>
                <key>spriteSourceSize</key>
                <string>{320,277}</string>
                <key>textureRect</key>
                <string>{{640,0},{320,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ctrl (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,277}</string>
                <key>spriteSourceSize</key>
                <string>{320,277}</string>
                <key>textureRect</key>
                <string>{{0,277},{320,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ctrl (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,277}</string>
                <key>spriteSourceSize</key>
                <string>{320,277}</string>
                <key>textureRect</key>
                <string>{{320,277},{320,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ctrl (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,277}</string>
                <key>spriteSourceSize</key>
                <string>{320,277}</string>
                <key>textureRect</key>
                <string>{{640,277},{320,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ctrl (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,554},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ctrl (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,260}</string>
                <key>spriteSourceSize</key>
                <string>{200,260}</string>
                <key>textureRect</key>
                <string>{{200,554},{200,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ctrl (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,260}</string>
                <key>spriteSourceSize</key>
                <string>{200,260}</string>
                <key>textureRect</key>
                <string>{{400,554},{200,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ctrl.png</string>
            <key>size</key>
            <string>{960,814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e040b26e3b93ace03d3ef74012c05109:5055e42b345b71371b7cbf84233a83d9:d1ee88679b7b76982758e7029245a3f1$</string>
            <key>textureFileName</key>
            <string>ctrl.png</string>
        </dict>
    </dict>
</plist>
