<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spikes (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>one.png</string>
            <key>size</key>
            <string>{320,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:229b373f01d1f7daf145d406bac473bc:af19661ecc04679c101d53ba165f1d7e:f466056edada42f00e5ee9bc1a3acaf6$</string>
            <key>textureFileName</key>
            <string>one.png</string>
        </dict>
    </dict>
</plist>
